* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-image: url("background.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* big box */
.main {
  margin: auto;
  width: 300px;
  height: 467px;
  padding-top: 15px;
}
/* first heading of the page */
h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 54px;
  text-transform: uppercase;
  color: #f2f2f2;
}
/* question div or white div */
.box {
  width: 300px;
  height: 390px;
  background: #ffffff;
  border-radius: 24px;
  position: relative;
}
/* logo */
.image {
  position: absolute;
  left: 190px;
  top: -90px;
  width: 110px;
  height: 155px;
}
/* quiz question div */
.ques {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0px 20px;
}
/* ques heading */
label {
  font-weight: 700;
  font-size: 24px;
  color: #2f527b;
  margin-top: 15px;
  padding: 20px 5px 0px 5px;
}
/* options or answers */
button {
  width: 250px;
  height: 45px;
  background: #ffffff;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  font-weight: 500;
  padding-right: 85px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208, 0.8);
}
/* A, B, C and D */
span {
  text-align: left;
  margin-right: 30px;
}
button:hover{
  background: #F9A826;
  color:#FFFFFF;
  border: none;
}
.wrong{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EA8282;
  border-radius: 12px;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #60BF88;
  border-radius: 12px;
}
/* laptop design */

@media (min-width: 768px) {
  /* big box */
  .main {
    margin: auto;
    width: 450px;
    height: 450px;
    padding-top: 50px;
  }
  /* first heading of the page */
  h1 {
    font-weight: 700;
    font-size: 33px;
    line-height: 54px;
    text-transform: uppercase;
    color: #f2f2f2;
  }
  /* question div or white div */
  .box {
    width: 450px;
    height: 430px;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;
  }
  /* logo */
.image {
    position: absolute;
    left: 326px;
    top: -90px;
    width: 140px;
    height: 155px;
  }
  /* quiz question div */
  .ques {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin: 0px 20px;
  }
  /* ques heading */
  label {
    font-weight: 700;
    font-size: 25px;
    color: #2f527b;
    margin-top: 35px;
    padding: 20px 5px 0px 5px;
  }
  /* options or answers */
  button {
    width: 370px;
    height: 45px;
    background: #ffffff;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px;
    font-weight: 500;
    padding-right: 85px;
    font-size: 18px;
    line-height: 27px;
    color: rgba(96, 102, 208, 0.8);
  }
  /* A, B, C and D */
  span {
    text-align: left;
    margin-right: 30px;
  }
}
